<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd     
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="edu.mum.controller" />

	<mvc:annotation-driven validator="validator" />

	<mvc:resources mapping="/css/**" location="/css/" />
	<mvc:resources mapping="/image/**" location="/images/" />
	<mvc:resources  location="/resources/"  mapping="/resources/**"/>

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<bean id="ErrmessageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="classpath:errorMessages" />
	</bean>

	<bean id="validator"
		class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<property name="validationMessageSource" ref="ErrmessageSource" />
	</bean>

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/*" />
			<bean class="edu.mum.interceptor.ProcessingTimeLogInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
	
	<bean id= "messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
   		<property name="basename" value="messages"/> 
    	<property name="defaultEncoding" value="UTF-8"/>
	</bean>

	<bean id="multipartResolver"  class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	  <property name="maxUploadSize" value="10240000"/>
	<!--property name="restrictFileTypes" value="pdf"/--> 
	</bean>
	

	<!-- Used to handle Cookie or Session locale resolvers AUTOMATICALLY -->
	
	<mvc:interceptors>
 		<bean class= "org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
			<property name="paramName" value="language"/>
	 	</bean>	 	
 	</mvc:interceptors>
     <!-- 	name="paramName" value="language	this is the parameter that the interceptor looks for -->	

	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
		<property name="defaultLocale" value="en_US"/>
	</bean>


</beans>